:root {
  --letra-titulos: "Pacifico", cursive;
  --letra-texto: "Comic Neue", cursive;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html::-webkit-scrollbar {
  width: 0;
}

a {
  font-family: var(--letra-texto);
  font-weight: bold;
}

.card-texto::-webkit-scrollbar {
  width: 0;
}

.centro {
  display: grid;
  text-align: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  justify-content: center;
}

.links {
  font-weight: bold;
  text-decoration: none;
  color: black;
}

html {
  scroll-behavior: smooth;
  background-color: white;
}

.card-texto::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#loginScreenBG {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #999999;
  filter: opacity(80%);
  z-index: 5;
}

.login-modal {
  margin-top: 700px;
  border-radius: 20px;
  width: 50%;
  height: 60%;
  padding: 25px;
  position: fixed;
  background-color: white;
  border: 2px solid black;
  font-family: var(--letra-texto);
  z-index: 5;
  display: grid;
}

.modal-tittle {
  margin: 5px;
}

.modal-text {
  display: grid;
  float: left;
  width: 10%;
  height: 100%;
  align-items: center;
}

.modal-input {
  float: left;
  width: 100%;
  height: 100%;
  border: 1px solid #999999;
  border-radius: 5px;
  cursor: pointer;
}

.modal-cerrar {
  display: grid;
  width: 50px;
  height: 50px;
  font-size: 50px;
  margin-left: 95%;
  margin-top: -25px;
  margin-bottom: -300px;
  margin-right: -50px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.titulos {
  font-family: var(--letra-titulos);
}

.textos {
  font-family: var(--letra-texto);
}

/* HEADER */

header {
  width: 100%;
  height: 75px;
  padding: 0 50px;
  background-color: #eee;
  color: black;
  display: flex;
  justify-content: space-between;
  position: fixed;
  z-index: 4;
}

.logo {
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  color: black;
  margin-bottom: -7.5px;
}

.logo:hover {
  position: relative;
  animation: moving-shadow 2s ease-in infinite;
}

.header-links-display {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.header-text {
  font-size: 15px;
  margin: 0 25px;
  font-family: var(--letra-texto);
  font-weight: bold;
  transition: 1s;
}

.header-text:hover {
  color: #505050;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  transition: 1s;
}

.header-button-display {
  width: 25%;
  height: 100%;
}

.header-button {
  width: 125px;
  height: 45px;
  font-size: 15px;
  border: 2px solid black;
  color: black;
  border-radius: 5px;
  position: relative;
  font-family: var(--letra-titulos);
  transition: 1s;
  overflow: hidden;
  cursor: grab;
}

.header-button:hover {
  background-color: silver;
  color: rgb(100, 100, 100);
  transition: 0.25s;
}

.header-button-shine {
  background-color: white;
  width: 20%;
  height: 100%;
  top: 0;
  left: 110%;
  filter: opacity(0%);
  position: absolute;
  transform: skew(25deg);
  transition: 2s;
}

.header-button:hover .header-button-shine {
  animation: btnShine 3s ease-out infinite;
  filter: opacity(50%);
  transition: 2s;
}

/* Premium features */

.premium-text {
  font-size: 20px;
  color: #202020;
  text-shadow: 0 0 1px #a7c6ff, 0 0 5px #a7c6ff, 0 0 15px #a7c6ff;
  animation: relucir 2.5s linear infinite;
  padding-left: 40px;
  line-height: 0.75;
  cursor: pointer;
}

.header-user {
  overflow: hidden;
  border-radius: 10px;
  padding: 5px;
  display: grid;
  text-overflow: ellipsis;
  grid-template-columns: auto auto;
  border: 2px solid black;
  font-family: "Comic Neue", cursive;
}

.header-pfp {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  border: 2px solid green;
}

.header-name {
  width: 100px;
  font-size: 15px;
  margin: 0 15px;
  float: left;
}

.header-status {
  font-size: 12px;
  margin: 0 15px;
  color: green;
}


.banner-img2 {
  padding-top: 75px;
  width: 100%;
  height: 675px;
}




.main-container {
  width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 70% 30%;
  display: grid;
  text-align: center;
  justify-items: center;
  padding: 50px 2% 50px 2%;
}

.reuniones-display {
  background-color: #eee;
  border: 1px solid #202020;
  width: 90%;
  height: 100%;
  border-radius: 25px;
  display: grid;
  grid-template-rows: 10% 90%;
  overflow: hidden;
}

.reuniones-display h2 {
  border-bottom: 1px solid #202020;
  background-color: #a7c6ff;
}

.reuniones {
  display: grid;
  grid-template-columns: 50% 50%;
}

.reuniones-info {
  border-right: 1px solid #202020;
  display: grid;
  grid-template-rows: 7.5% 50% 5% 20% 7.5% 10%;
  font-family: var(--letra-texto);
  overflow: hidden;
}

.reuniones-info h6 {
  overflow: hidden;
  margin: 0 10px;
}


.tomar-sesion {
  display: block;
  font-family: var(--letra-texto);
  background-color: #a7c6ff;
  margin: -5px;
  font-weight: bold;
  font-size: 20px;
}

.tomar-sesion:hover {
  background-color: #c9dcff;
  transition: 0.25s;
}
.tomar-sesion:active {
  background-color: #eee;
  border: 1px solid #505050;
  font-size: 15px;
  transition: 0.5s;
}


.reuniones-lista {
  overflow: scroll;
}

.reuniones-lista::-webkit-scrollbar {
  height: 0.01px;
  width: 0.01px;
}


.sesion-body {
  display: grid;
  grid-template-columns: 70% 30%;
  border: 1px solid #202020;
  align-items: center;
}

.sesion-texto {
  font-size: 30px;
  font-family: var(--letra-texto);
  padding: 0 15px;
}

.sesion-hora {
  font-size: 15px;
  font-family: var(--letra-texto);
}
.sesion-button {
  display: block;
  font-family: var(--letra-texto);
  background-color: #a7c6ff;
  border: 1px solid black;
  height: 100px;
  font-size: 30px;
  transition: 1s;
}

.sesion-button:hover {
  background-color: #c9dcff;
  transition: 0.25s;
}
.sesion-button:active {
  background-color: #eee;
  border: 1px solid #505050;
  font-size: 25px;
  transition: 0.5s;
}

.psicologos-img {
  width: 100%;
  height: 100%;
}

.aside-display {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-rows: 50% 50%;
  align-items: center;
}

.frases-display {
  width: 100%;
  height: 70%;
  background-color: #eee;
  border: 2px solid #202020;
  overflow: scroll;
}

.frases-display::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

.frases {
  background-color: #a7c6ff;
  border-bottom: 2px solid #505050;
}

.valoraciones-display {
  width: 100%;
  height: 70%;
  background-color: #a7c6ff;
  border: 2px solid #202020;
  border-radius: 0 25px 0 25px;
  display: grid;
  grid-template-rows: 20% 60% 20%;
  overflow: hidden;
}

.valoraciones-input {
  width: 100%;
  white-space: pre-wrap;
  display: block;
  overflow: hidden;
  background-color: #eee;
  border-top: #505050 2px solid;
}

.valoraciones-texto {
  font-size: 15px;
  height: 100%;
}

.valoraciones-button {
  display: block;
  font-family: var(--letra-texto);
  background-color: #a7c6ff;
  border: #505050 2px solid;
  margin: 0;
  margin: -5px;
}

.valoraciones-button:active {
  border: #202020 2.5px solid;
  background-color: #a7c6ff;
}

#frase {
  font-size: 15px;
}

@keyframes relucir {
  0% {
    text-shadow: 0 0 1px #a7c6ff, 0 0 5px #a7c6ff, 0 0 15px #a7c6ff;
  }
  50% {
    text-shadow: none;
  }
  100% {
    text-shadow: 0 0 1px #a7c6ff, 0 0 5px #a7c6ff, 0 0 15px #a7c6ff;
  }
}

@media screen and (max-width: 800px) {
  .main-container {
    grid-template-columns: 100%;
    height: 1200px;
  }
  .aside-display {
    grid-template-rows: 100%;
    grid-template-columns: 50% 50%;
  }
}

@media only screen and (min-width: 1400px) {
  .banner-img2 {
    height: 1000px;
  }
  .main-container {
    height: 800px;
  }
}